doctype html
head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet')
    script(src="https://kit.fontawesome.com/e44e9475ed.js" crossorigin="anonymous")

    style.
        .main {
            margin-top: 10%;
            margin-left: 160px; /* Same as the width of the sidenav */
            text-align: center;
        }

        #startDate, #endDate, #selectPTO {
            margin: 5% 5%;
            height: 70px;
            width: 150px;
        }

        #commentBox {
            padding: 1% 1%;
            height: 100px;
            width: 400px;
        }
    include includes/sideBar

.main
   select(class="btn btn-secondary dropdown-toggle" id="selectPTO")
        option Vacation
        option Personal
        option Sick
   input(type="date" placeholder="Enter Start Date" class="btn btn-secondary" id="startDate")
   input(type="date" placeholder="Enter End Date"  class="btn btn-secondary" id="endDate")
   br
   br
   textarea(id="commentBox")
   br
   br

   button(type="submit" alt="Comment" class="btn btn-secondary btn-lg") Make Request