doctype html
head
    meta(charset='UTF-8')
    title Title
    style.
        h2   {font-size: small}
        div {margin: auto}
        html {
            background-color: #5fbae9}
        .title{
            font-size:x-large;
        }

    .container
    div
        .col-md-5
            h1.title Registration Page
            .body.py-md-4
                .form
                    h2 Enter Employee Id
                    input#name.form-control(type='text' placeholder='Employee ID')
                .form
                    h2 Enter Employee Email
                    input#email.form-control(type='email' placeholder='Email')
                .form
                    h2 Create a password
                    input#password.form-control(type='password' placeholder='atleast 8 characters long')
                .form
                    h2 Confirm Paswword
                    input#confirm-password.form-control(type='password' placeholder='verify password')
                div
                    a(href='/DirectorHomePage') Login
                    button.btn.btn-primary Create Account
