doctype html
head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet' href='css/AldiLogIn.css')
div
    #formContent
        div
            img#icon(src='images/AL_BLR_SQ_MC_RGB.png' alt='User Icon')
        // Reset Form
        form
            input#EmployeeID(type='text' name='eId' placeholder='Enter Employer id ')
            br
            input#email(type='text' name='email' placeholder='Enter Work email')
            br
            input(type='submit' value='Reset')
        // Back to Log in
        #formFooter
            a.underlineHover(href='/logIn') Back to Login
