@import url('https://fonts.googleapis.com/css?family=Poppins');




body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #56baed;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}





#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}
button.active{
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
    border-top: white;
    border-right: white;
    border-left:white;
    text-align: center;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: black;

}
form.page2{
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
    border-top: white;
    border-right: white;
    border-left:white;
    text-align: center;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: black;

}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;

    margin: 5px 20px 40px 20px;

}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color:orange;
}

#icon {
    width:60%;
}

* {
    box-sizing: border-box;
}
div{
    margin: auto;
    /*border: 2px solid #000000;*/
    width: 50%;
}

