doctype html
head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet')
    script(src="https://kit.fontawesome.com/e44e9475ed.js" crossorigin="anonymous")

    include ../includes/ManagerSideBar
    style.
        .main {
            text-align: center;
        }

        #startDate, #endDate, #selectPTO {
            height: 70px;
            width: 150px;
        }

        #commentBox {
            padding: 1% 1%;
            height: 100px;
            width: 400px;
        }
        .entireMain{
            border-radius: 5%;
            background-color: rgba(41, 109, 175, 0.4);
            margin-left: 2.5%;
            width: 95%;
            height: 80vh;
        }
        .main
        {
            display: flex;
            padding-left: 10%;
            justify-content: space-between;
        }

        .selectPTO{
            border-radius: 5%;
            background-color: rgba(24, 127, 183, 0.3);
            margin-top: 5%;
            font-size: 20px;
            color: rgba(46, 46, 101, 0.44);
            padding-bottom: 2%;

        }
        .selectPTO>p{

            display: inline;
            color: rgba(0, 30, 128, 0.7);
            margin-top: 200px;
            border-radius: 10%;
            margin-left: 2%;
        }
        .bottomBox{
            padding: 5% 0% 0% 33%;
        }
        #buttonReq{
            margin-left: 13%;
            margin-top: 8%;
        }
        #buttonReq:Hover{
            background-color: #5252fc;
        }
        .getInfo{
        }

.entireMain
    form(action='/requested' method='post')
        .main
            div.selectPTO
                p PTO Type:
                select.getInfo(class="btn btn-secondary dropdown-toggle" name="selectVal" id="selectPTO")
                    option Vacation
                    option Personal
                    option Sick
            div.selectPTO
                p Start Date:
                input.getInfo(type="date" name="startDate" placeholder="Enter Start Date" class="btn btn-secondary" id="startDate")
            div.selectPTO
                p End Date:
                input.getInfo(type="date"  name="endDate" placeholder="Enter End Date"  class="btn btn-secondary" id="endDate")
            br
            br
        .bottomBox
            textarea(id="commentBox" name="TextInfo" placeholder="Enter Comment Here")
            br
            button#buttonReq(type="submit" alt="Comment" class="btn btn-secondary btn-lg") Make Request